html{
    max-width: 500px;
    margin: auto;
}
header{
color: wheat;
display: block;
text-align: center;
}
body{
    background-color: #030303;
    margin: 0;
   
}


.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    
    background-color: white;
    width: 500x;
    height: 500px;
    border: red solid 5px;
}
.inline{
    display: table;
    background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
}
