html{
    max-width: 500px;
    margin: auto;
    background-color: #000000;
}
header{
color: wheat;
display: block;
text-align: center;
}




#container {
  width: 500px;
  height: 500px;

  display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(5, auto);

}

.grid-item {
  
  background-color: wheat;
  border: 1px solid #000000;
  text-align: center;
}